@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 변수 */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: oklch(1 0 0);
  --color-primary1: oklch(0.3362 0.0022 247.89);
  --color-secondary: oklch(0.9702 0 0);
  --color-secondary1: oklch(0.9857 0.0126 86.83);
  --color-bg: oklch(1 0 0);
  --color-text: oklch(0.9851 0 0);
  --color-text1: oklch(0.6008 0.0066 239.89);
  --color-secondary-2: oklch(0.6036 0.188 24.76);
  --color-button1: oklch(0.8718 0.2547 147.64);
  --color-button2: oklch(0.6036 0.188 24.76);
  --color-hover-button: oklch(0.6843 0.1335 21.16);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
